.fw-bold {
    text-align: center;
}

.text-start {
    width: 100%;
    text-align: start;
}

.form-label {
    width: 100%;
    text-align: start;
}

.d-grid {
    margin-top: 2rem;
}

.home {
    text-decoration: none;
    font-size: 1.5rem;
    color: red;
}